.DS_Store
thumbs.db

# Ansible
ansible.cfg
inventory/aws
inventory/digital_ocean
inventory/sandbox
**/current_admin_accounts.yml
**/former_admin_accounts.yml
**/secrets.yml

# Azure
scripts/azure

# Vagrant
.vagrant
