.DS_Store
thumbs.db

# Ansible
*.retry
ansible.cfg
inventory/aws
inventory/azure
inventory/digitalocean
inventory/sandbox
group_vars/*/current_admin_accounts.yml
group_vars/*/former_admin_accounts.yml
group_vars/*/ssh_keys.yml
group_vars/*/secrets.yml
group_vars/windows.yml

# Azure
scripts/azure

# Vagrant
.vagrant
