---
    - name: test for presence of Postfix
      stat: path=/usr/sbin/postfix
      register: postfix_exe

    - name: set value of has_postfix
      set_fact: has_postfix=True
      when: postfix_exe.stat.isreg is defined and postfix_exe.stat.isreg

    - name: set Monit Postfix configuration
      template: src=monit_postfix.j2 dest=/etc/monit/conf.d/postfix owner=root group=root mode=0600
      when: has_postfix is defined and has_postfix
      become: yes
      notify:
        - reload Monit service
