---
  - name: test for presence of PostgreSQL
    command: dpkg-query -l postgresql
    register: postgresql_installed
    failed_when: postgresql_installed.rc > 1
    changed_when: no

  - name: set value of has_postgresql
    set_fact: has_postgresql=True
    when: postgresql_installed.stdout is defined and postgresql_installed.stdout.find('ii  postgresql') != -1

  - name: set Monit PostgreSQL configuration
    template: src=monit_postgresql.j2 dest=/etc/monit/conf.d/postgresql owner=root group=root mode=0600
    when: has_postgresql is defined and has_postgresql
    notify:
      - reload Monit service
