---
  - name: set MySQL root password
    debconf: name="mysql-server" question="mysql-server/root_password" vtype="password" value={{ mysql_root_db_password }}

  - name: set MySQL root password
    debconf: name="mysql-server" question="mysql-server/root_password_again" vtype="password" value={{ mysql_root_db_password }}

  - name: ensure MySQL server package is present
    apt: name="mysql-server-{{ mysql_version }}" state=present

  - name: ensure MySQL service is enabled and running
    service: name=mysql state=started enabled=yes

  - name: set MySQL service configuration
    template: src=server/my.cnf.j2 dest=/etc/mysql/my.cnf backup=yes owner=root group=root mode=0644
    notify:
      - reload MySQL service
