---
  - include: ansible_prerequisites.yml
  - include: system_update.yml
  - include: system_hostname.yml
  - include: locale.yml
  - include: timezone.yml
  - include: utilities.yml
  - include: compiler_packages.yml
  - include: ntp.yml
    when:    ansible_bios_version.find('amazon') != -1
